/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Montserrat, Arial, Helvetica, sans-serif;
}

p {
	text-align:center;
	font-size:1.9em;
	margin-bottom:0;
}
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
  position: absolute;
  width: 100%;
  height: 20%;
  top:0;
  left:0;
  z-index:10;
  margin-top:119px;
}

#email {
	font-size:1em;
}

#social {
  color: black;
  position: fixed;
  bottom: 19pt;
  right: 19pt;
  text-decoration: none;
}

#container {
	
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.svg-wrapper {
  margin-top:0;
  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
	margin-top:2.5%;
}

#shape {
  stroke-width: 6px;
  file: transparent;
  stroke: #B42D32;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -210;
  transition: 1s all ease;
}

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.3em;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 6px;
  stroke-dashoffset: 5;
  stroke: #205F9F;
	
}

.container{
  max-width: 960px;
  padding-top: 25px;
  border: none;
}
