---
layout: base
---
{% include sections/background.html %}
<header id="parent">
    <div class="container">
        <div class="row" id="child">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="assets/images/white_logo_shadow.png" alt="HackCU logo" id="logo-animation">
                    <h1 class="title">HackCU Episode V<br>
                        <!-- <small>powered by <a target="_blank" href="https://www.colorado.edu/studentgroups/assg/">ASSG</a></small> -->
                    </h1>

                    <h3>600 Hackers &middot; 24 Hours</h3>
                    <h3>February 23<sup>rd</sup> and 24<sup>th</sup> 2019</h3>


                    <div class="buttons title">
                        <!--Inspired by https://github.com/HackCU/HackCU-Temp by Alex Walling-->
                        <div class="svg-wrapper ">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="40" width="150" />
                                <div class="text">
                                    <a href="https://my.hackcu.org" target="_blank">Register</a>
                                </div>
                            </svg>
                        </div>
                        <div class="svg-wrapper ">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="40" width="150" />
                                <div class="text">
                                    <a href="mailto:sponsor@hackcu.org" target="_blank">Sponsor</a>
                                </div>
                            </svg>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>

{% include sections/about.html %}

{% include sections/faq.html %}
{% include sections/apply.html %}

{% include sections/schedule.html %}
{% include sections/volunteer_mentor.html %}

{% include sections/sponsors.html %}
{% include sections/partners.html %}
{% include sections/location.html %}

{% include sections/contact.html %}