---
layout: base
---
{% include sections/background.html %}
<header id="parent">
    <div class="container">
        <div class="row" id="child">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="assets/images/white_logo_shadow.png" alt="HackCU logo" id="logo-animation">
                    <h1 class="title">HackCU Episode V<br>
                        <small>powered by <a target="_blank" href="https://www.colorado.edu/studentgroups/assg/">ASSG</a></small>
                    </h1>

                    <h3>Thank you all for coming! See you next year!</h3>


        

                </div>

            </div>
        </div>
    </div>
</header>

{% include sections/about.html %}

{% include sections/faq.html %}
{% include sections/apply.html %}

{% include sections/schedule.html %}
{% include sections/volunteer_mentor.html %}

{% include sections/sponsors.html %}
{% include sections/partners.html %}
{% include sections/location.html %}

{% include sections/contact.html %}
