#hero
  .layer-bg.layer{"data-type" => "parallax", "data-depth" => "0.10"}
  .layer-1.layer{"data-type" => "parallax","data-depth" => "0.20"}
  .layer-2.layer{"data-type" => "parallax","data-depth" => "0.50"}
  .layer-3.layer{"data-type" => "parallax","data-depth" => "0.80"}
  .layer-overlay.layer{"data-type" => "parallax","data-depth" => "0.85"}
  .layer-4.layer{"data-type" => "parallax","data-depth" => "1.00"}