<section id="about" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>About Us</h2>
                <hr>
                <p class="lead">HackCU is a 24 hour hackathon organized annually at the University of Colorado Boulder.
                    Every spring, we bring together people of all experience levels, majors and backgrounds to
                    CU Boulder. The event provides the space and the resources for you to express your creativity,
                    ingenuity, and determination to create anything you want to. We welcome any and all students to
                    apply.</p>
            </div>
        </div>
    </div>
</section>