<section id="about" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>Our Story</h2>
                <hr>
                <p class="lead">HackCU was started four years ago by a group of passionate students who wanted to provide other students the time and space to work on projects they don’t normally work on through school. Since then we’ve been committed to fulfilling our mission of bringing you high-quality, inclusive events open to people of all levels of experience.  </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>Why You?</h2>
                <hr>
                <p class="lead">Like to write programs? Dig into interesting datasets? Design creative works?  Or maybe you’ve never written a line of code? We will provide the space and the resources for you to express your creativity, ingenuity, and determination to create anything you want to. Whether you’re building your first website, dabbling in Photoshop, or hacking with an Oculus Rift, HackCU is for you. HackCU is for people of all backgrounds and experiences. So, come and join us!</p>
            </div>
        </div>
    </div>
</section>
