<section id="about" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>About</h2>
                <hr>
                <p class="lead">HackCU is all about learning, about improving yourself. 
                    Spend a weekend with us at the University of Colorado Boulder. 
                    We encourage you to take a step out of your comfort zone, to go beyond. 
                    Make HackCU your event by experimenting with a new platform, API, or that idea that’s always been in the back of your mind! 
                    We will provide the space and the resources for you to express your creativity, ingenuity, and determination to create anything you want to.
                    Whether you’re building your first website, dabbling in Photoshop, or hacking with an Oculus Rift, 
                    HackCU is for individuals of all backgrounds and experiences. Join us!</p>
            </div>
        </div>
    </div>
</section>
