<section id="apply" class="section-accent">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <h2>Apply now to HackCU IV!</h2>
                <hr>
                <!-- <div class="buttons accent"> -->
                    <!--&lt;!&ndash;Inspired by https://github.com/HackCU/HackCU-Temp by Alex Walling&ndash;&gt;-->
                    <!-- <div class="svg-wrapper "> -->
                        <!-- <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg"> -->
                            <!-- <rect class="shape" height="40" width="150"/> -->
                            <!-- <div class="text"> -->
                                <!-- <a href="https://my.hackcu.org" target="_blank">Apply</a> -->
                            <!-- </div> -->
                        <!-- </svg> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</section>