<div id="background">
    <div class="drawing">
        <div class="mountain-small">
            <svg class="peak" width="178" height="112">
                <polyline points="89,0 0,112 40,95 56,112 89,70 110,70 125,90 145,70" fill="#ffffff" stroke-width="1"
                    stroke="#ffffff" />
            </svg>
        </div>

        <ul class="cloud-list">
            <li class="cloud cloud-big cloud-dark"></li>
            <li class="cloud cloud-small cloud-dark"></li>
        </ul>

        <div class="mountain">
            <svg class="peak" width="254" height="320">
                <polyline points="127,0 16,140 26,140 56,110 127,160 160,90 185,90 185,120 213,110 127,0" fill="#ffffff"
                    stroke-width="1" stroke="#ffffff" />
            </svg>


            <svg class="shadow">
                <polyline points="340,0 338,60 300,135 300,200 370,250 320,380 260,350 150,600 763,550" fill="#51607D"
                    stroke-width="1" stroke="#51607D" />
            </svg>
        </div>
        <img src="assets/images/skistation3.png" class="skistation" alt="Ski station drawing"></img>
        <img src="assets/images/chairlift2.png" class="chair" alt="Chair lift drawing"></img>
        
    </div>
    <img src="assets/images/snow.svg" alt="Snow accumulated on the ground" class="snow">
</div>