

<section id="contact" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>Contact Us</h2>
                <hr>
                <ul class="list-inline">
                    <li>
                        <a href="https://twitter.com/hackcu" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                    </li>
                    <li >
                        <a href="https://www.facebook.com/HackCU/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="mailto:contact@hackcu.org" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </li>
                </ul>
                <br>
                <p>Please email your questions or comments to <a href="mailto:contact@hackcu.org">contact@hackcu.org</a>
                </p>
            </div>
        </div>
    </div>
</section>