<section id="contact" class="section-reverse">
    <div class="container">
        <div class="row single-window">
            <div class="col-md-8 window">
                <div class="head">
                    <div class="barcont">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="title">Contact Us</div>
                    <div class="buttons">
                        <span class="dot" style="background:#5AC05A;"></span>
                        <span class="dot" style="background:#FDD800;"></span>
                        <span class="dot" style="background:#ED594A;"></span>
                    </div>
                </div>

                <div class="content">
                    <div class="contactUsIcons">
                        <div class="hoverIcons">
                            <a class="contactUsIconCaption" href="https://instagram.com/hackcu" target="_blank">
                                <figure>
                                    <img src="assets/images/instagram.png" width="50px" height="50px">
                                    <figcaption class="contactUsIconCaption">Instagram</figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="hoverIcons">
                            <a class="contactUsIconCaption" href="https://facebook.com/hackcu" target="_blank">
                                <figure>
                                    <img src="assets/images/facebook.png" width="50px" height="50px">
                                    <figcaption class="contactUsIconCaption">Facebook</figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="hoverIcons">
                            <a class="contactUsIconCaption" href="https://twitter.com/hackcu" target="_blank">
                                <figure>
                                    <img src="assets/images/twitter.png" width="50px" height="50px">
                                    <figcaption class="contactUsIconCaption">Twitter</figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="hoverIcons">
                            <a class="contactUsIconCaption" href="mailto:contact@hackcu.org" target="_blank">
                                <figure>
                                    <img src="assets/images/email.png" width="50px" height="50px">
                                    <figcaption class="contactUsIconCaption">E-mail</figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>