<div class="padding" id="top-screen"></div>

   
<div class="container" id="mydiv">
    <div class="row single-window">
        <div class="col-md-10 window">
            <div class="head">
                <div class="barcont">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <div class="title">HackCU VI</div>
                <div class="buttons">
                    <span class="dot">
                        <div class="min">
                            <div class="minbar"></div>
                        </div>
                    </span>
                    <span class="dot">
                        <div class="max">
                            <div class="maxbox"></div>
                        </div>
                    </span>
                    <span class="dot">
                        <div class="close">
                            <div class="x1"></div>
                            <div class="x2"></div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="content">

                <div class="banner">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mao">
                                    <img src="/assets/images/logo_hack.svg" alt="Kiwi standing on oval" class="logo spacing">

                                    <div class="year">
                                        <img src="/assets/images/liang.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/ling.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/er.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/zero.svg" alt="Kiwi standing on oval" class="ima">
                                    </div>
                                </div>
                                <div class="date">
                                    <h2>February 22</h2>
                                </div>
                                <div class="loc">
                                    <h2>jennie smoly biotech building</h2>
                                </div>

                            </div>
                            <div class="col">
                                <img src="/assets/images/hackcu_6_logo.svg" class="spacing" />

                            </div>

                        </div>
                        <div class="row button-row">
                            <div class="col">
                                <div class="buttons reverse center">
                                    <div class="ye">
                                        <a class="btn btn-lg btn-darker sign-up-button" href="https://forms.gle/QQ2Uh12UD4AkZkrZ8"
                                            target="_blank">Sign Up For More Info!</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="other1">
    <div class="row single-window">
        <div class="col-md-10 window">
            <div class="head">
                <div class="barcont">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <div class="title">HackCU VI</div>
                <div class="buttons">
                    <span class="dot">
                        <div class="min">
                            <div class="minbar"></div>
                        </div>
                    </span>
                    <span class="dot">
                        <div class="max">
                            <div class="maxbox"></div>
                        </div>
                    </span>
                    <span class="dot">
                        <div class="close">
                            <div class="x1"></div>
                            <div class="x2"></div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="content">

                <div class="banner">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mao">
                                    <img src="/assets/images/logo_hack.svg" alt="Kiwi standing on oval" class="logo spacing">

                                    <div class="year">
                                        <img src="/assets/images/liang.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/ling.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/er.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/zero.svg" alt="Kiwi standing on oval" class="ima">
                                    </div>
                                </div>
                                <div class="date">
                                    <h2>February 22</h2>
                                </div>
                                <div class="loc">
                                    <h2>jennie smoly biotech building</h2>
                                </div>

                            </div>
                            <div class="col">
                                <img src="/assets/images/hackcu_6_logo.svg" class="spacing" />

                            </div>

                        </div>
                        <div class="row button-row">
                            <div class="col">
                                <div class="buttons reverse center">
                                    <div class="ye">
                                        <a class="btn btn-lg btn-darker sign-up-button" href="https://forms.gle/QQ2Uh12UD4AkZkrZ8"
                                            target="_blank">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="other2">
    <div class="row single-window">
        <div class="col-md-10 window">
            <div class="head">
                <div class="barcont">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <div class="title">HackCU VI</div>
                <div class="buttons">
                    <span class="dot">
                        <div class="min">
                            <div class="minbar"></div>
                        </div>
                    </span>
                    <span class="dot">
                        <div class="max">
                            <div class="maxbox"></div>
                        </div>
                    </span>
                    <span class="dot">
                        <div class="close">
                            <div class="x1"></div>
                            <div class="x2"></div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="content">

                <div class="banner">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mao">
                                    <img src="/assets/images/logo_hack.svg" alt="Kiwi standing on oval" class="logo spacing">

                                    <div class="year">
                                        <img src="/assets/images/liang.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/ling.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/er.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/zero.svg" alt="Kiwi standing on oval" class="ima">
                                    </div>
                                </div>
                                <div class="date">
                                    <h2>February 22</h2>
                                </div>
                                <div class="loc">
                                    <h2>jennie smoly biotech building</h2>
                                </div>

                            </div>
                            <div class="col">
                                <img src="/assets/images/hackcu_6_logo.svg" class="spacing" />

                            </div>

                        </div>
                        <div class="row button-row">
                            <div class="col">
                                <div class="buttons reverse center">
                                    <div class="ye">
                                        <a class="btn btn-lg btn-darker sign-up-button" href="https://forms.gle/QQ2Uh12UD4AkZkrZ8"
                                            target="_blank">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="other3">
    <div class="row single-window">
        <div class="col-md-10 window">
            <div class="head">
                <div class="barcont">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <div class="title">HackCU VI</div>
                <div class="buttons">
                    <span class="dot">
                        <div class="min">
                            <div class="minbar"></div>
                        </div>
                    </span>
                    <span class="dot">
                        <div class="max">
                            <div class="maxbox"></div>
                        </div>
                    </span>
                    <span class="dot">
                        <div class="close">
                            <div class="x1"></div>
                            <div class="x2"></div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="content">

                <div class="banner">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mao">
                                    <img src="/assets/images/logo_hack.svg" alt="Kiwi standing on oval" class="logo spacing">

                                    <div class="year">
                                        <img src="/assets/images/liang.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/ling.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/er.svg" alt="Kiwi standing on oval" class="ima">
                                        <img src="/assets/images/zero.svg" alt="Kiwi standing on oval" class="ima">
                                    </div>
                                </div>
                                <div class="date">
                                    <h2>February 22</h2>
                                </div>
                                <div class="loc">
                                    <h2>jennie smoly biotech building</h2>
                                </div>

                            </div>
                            <div class="col">
                                <img src="/assets/images/hackcu_6_logo.svg" class="spacing" />

                            </div>

                        </div>
                        <div class="row button-row">
                            <div class="col">
                                <div class="buttons reverse center">
                                    <div class="ye">
                                        <a class="btn btn-lg btn-darker sign-up-button" href="https://forms.gle/QQ2Uh12UD4AkZkrZ8"
                                            target="_blank">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding"></div>
