<section id="location" class="text-center section-accent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
					<h2>
						Location <br>
						<small>HackCU IV happened at the SEEC on February 24<sup>th</sup> and 25<sup>th</sup></small>
					</h2>
					<hr>
                </div>
            </div>
        </div>
        <div class="container">
			<iframe
				width="100%" height="450" frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJwR6cajTsa4cRBeZw__qRRTM&key=AIzaSyACUaok8GS3EiIo8cDW4wi2fiffLXmEO5g" allowfullscreen>
			</iframe>
        </div>
    </div>
</section>