<section id="location" class="section-reverse">
    <div class="container">
        <div class="row single-window">
            <div class="col-md-8 window">
                <div class="head">
                    <div class="barcont">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="title">Event Location</div>
                    <div class="buttons">
                        <span class="dot" style="background:#5AC05A;"></span>
                        <span class="dot" style="background:#FDD800;"></span>
                        <span class="dot" style="background:#ED594A;"></span>
                    </div>
                </div>
                <div class="content">
                    <div class="container">
                        <div class="about-text">
                            HackCU VI will be happening at the JSCBB on February 23<sup>nd</sup> and 23<sup>rd</sup>
                        </div>
                        <iframe width="100%" height="450" frameborder="0" style="border:0" allowfullscreen
                            src="https://maps.google.com/maps?q=Jennie%20Smoly%20Caruthers%20Biotechnology%20Building&t=&z=15&ie=UTF8&iwloc=&output=embed">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>