<section id="schedule" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-6 window">
                <div class="head">
                    <div class="barcont">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="title">Event Schedule</div>
                    <div class="buttons">
                        <span class="dot">
                            <div class="min">
                                <div class="minbar"></div>
                            </div>
                        </span>
                        <span class="dot">
                            <div class="max">
                                <div class="maxbox"></div>
                            </div>
                        </span>
                        <span class="dot">
                            <div class="close">
                                <div class="x1"></div>
                                <div class="x2"></div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="day-label">
                    Day 1
                    </div>
                    <table class="table lead table-hover text-center schedule-table">
                        <thead>
                            <tr>
                                <th class="text-center">Time</th>
                                <th class="text-center">Event</th>
                            </tr>
                        </thead>
                        {% assign day1 = site.data.schedule | where:"day","one" %}
                        {% for event in day1 %}
                        <tr>
                            <td>{{ event.time }}</td>
                            <td>{{ event.name }}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>

            <div class="col-md-6 window">
                <div class="head">
                    <div class="barcont">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="title">Subject to Change.</div>
                    <div class="buttons">
                        <span class="dot">
                            <div class="min">
                                <div class="minbar"></div>
                            </div>
                        </span>
                        <span class="dot">
                            <div class="max">
                                <div class="maxbox"></div>
                            </div>
                        </span>
                        <span class="dot">
                            <div class="close">
                                <div class="x1"></div>
                                <div class="x2"></div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="day-label">
                    Day 2
                    </div>
                    
                    <table class="table lead table-hover text-center schedule-table">
                        <thead>
                            <tr>
                                <th class="text-center">Time</th>
                                <th class="text-center">Event</th>
                            </tr>
                        </thead>
                        {% assign day2 = site.data.schedule | where:"day","two" %}
                        {% for event in day2 %}
                        <tr>
                            <td>{{ event.time }}</td>
                            <td>{{ event.name }}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
</section>