<section id="stats">
	<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>Statistics</h2>
                <hr>
				<p class="lead">Thank you for making HackCU Epsidoe IV amazing!</p>
				<p class="lead">Here are some stats from the event.</p>
			</div>
		</div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h3>Hacker Map</h3>
                <hr>
				<p class="lead">We had hackers from all over the world. Shout out to all those people who travelled a long way!</p>
			</div>
		</div>
	</div>

</section>