<section id="stats">
	<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>Statistics</h2>
                <hr>
			</div>
		</div>
		<p class="lead">Over <b>600</b> hackers from around the world.</p>
		<p class="lead"><b>24 hours</b> of hacking non-stop.</p>
		<p class="lead">Over <b>300</b> first-time hackers.</p>
		<p class="lead"><b>16</b> industry sponsors.</p>
		<p class="lead"><b>91</b> <a href="https://hackcu4.devpost.com/submissions" target="_blank">projects submitted</a>.</p>
		
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>Hacker Origin Map</h2>
                <hr>
             
			</div>
		</div>
		<iframe width="100%" height="520" frameborder="0" src="https://casassg.carto.com/builder/ba982832-ebd7-470a-b0d3-357203c83630/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
	</div>

</section>