<section id="volunteer_mentor" class="section-reverse">
    <div class="container">
        <div class="row single-window">
            <div class="col-md-8 window">
                <div class="head">
                    <div class="barcont">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="title">Volunteer or Mentor</div>
                    <div class="buttons">
                        <span class="dot">
                            <div class="min">
                                <div class="minbar"></div>
                            </div>
                        </span>
                        <span class="dot">
                            <div class="max">
                                <div class="maxbox"></div>
                            </div>
                        </span>
                        <span class="dot">
                            <div class="close">
                                <div class="x1"></div>
                                <div class="x2"></div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="about-title"><b>Want to build HackCU with us?</b></div>
                    <br />
                    <div class="about-text">Help us make this happen and welcome over 400 awesome hackers. Register now!
                    </div>
                    <div class="about-text">Sign-Up Coming Soon!</div>
                    {% comment %} <a class="btn btn-lg btn-darker"
                        href="https://www.youtube.com/watch?v=ChT3ewZXTfM">Volunteer/Mentor</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>