<section id="volunteer_mentor" class="section-reverse">
    <div class="container">
        <div class="row single-window">
            <div class="col-md-8 window">
                <div class="head">
                    <div class="barcont">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="title">Volunteer or Mentor</div>
                    <div class="buttons">
                        <span class="dot">
                            <div class="min">
                                <div class="minbar"></div>
                            </div>
                        </span>
                        <span class="dot">
                            <div class="max">
                                <div class="maxbox"></div>
                            </div>
                        </span>
                        <span class="dot">
                            <div class="x">
                            </div>
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="about-title"><b>Want to build HackCU with us?</b></div>
                    <br />
                    <div class="about-text">Help us make this happen and welcome over 400 awesome hackers.
                    </div>
                    <div class="volunteer-mentor-button">
                    <a class="btn btn-lg btn-darker"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfPHPityI91VWmqrGPKpHl5Gvog2K_G29j3Nh0lMMxSwXCOOw/viewform">Volunteer</a>
                    <a class="btn btn-lg btn-darker"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSdyLVr7vfCA9KxGQP_C4EeVh0pNVDsGTHctaqQZYFPypEDDNw/viewform">Mentor</a>
                </div>
            </div>
        </div>
    </div>
</section>