---
---
$cloud-color:#E4EFF3;

#background{
  left: 0;
  top: 0;
  background: linear-gradient(#1a8cff 0%, #1AA8FF 95%);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  .drawing{
    transform-origin: bottom left;
    width: 500px;
    height: 700px;
    position: absolute;
    bottom: 0;
  }
}

.skistation {
  z-index: 12;
  position: absolute;
  left: 200px;
  bottom: 5px;
  width: 1217px;
  height: 396px;

}

.peak{
    position:absolute;
    right:0;
    top:0;
    transform: translate(50%);
 }
.shadow{
  position:absolute;
  right:0;
  bottom:-410px;
  transform: translate(50%);
  opacity:0.7;
  width: 676px;
  height: 410px;
}
.chair {
    
    position:absolute;
    bottom:14px;
    left:1228px;
    z-index: 12;
    height: 60px;
    width: 60px;

    animation-name: chair;
    animation-duration: 15s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes chair {
    0% {
      bottom:14px;
        left:1228px;
    }
    60% {
      bottom:283px;
      left:610px;
    }
    100% {
      bottom:283px;
      left:170px;
    }
}

.snow{
  position:absolute;
  left: 0px;
  bottom:-5px;
  width:100%;
  height:5%;
  z-index:200;
}

.mountain{
  position:absolute;
  bottom:15px;
  z-index: 15;
  left:-90px;
  border-width:26em 20em;
  border-style:solid;
  border-color:transparent transparent #93A4B4 transparent;  

  

  &-small{
    position:absolute;
    bottom:10px;
    z-index: 5;
    left:100px;
    border-width:33em 26em;
    border-style:solid;
    border-color:transparent transparent #657084 transparent;
    &::after{
      content:'';
      position:absolute;
      left:100%;
      top:100%;
      border-width:16.5em 13em;
      border-style:solid;
      border-color:transparent transparent #474f5d #474f5d; 
      opacity:0.5;
    }
    
  }
  
}


.cloud{
    animation-name: move-cloud;
    animation-duration: 15s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    font-size:1.25em;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
    z-index:14;
    &-list{
      margin:0;
      padding:0;
      list-style:none;
      li{
       
        &:nth-child(1){
          bottom:500px;
          left:400px;  
          animation-delay: 12s;
          
        }
       
        &:nth-child(2){
          bottom:300px;
          left:1200px;   
          font-size:0.75em;
          
        }
      }
    }
    position:absolute;  
    height:1em;
    border-radius:1em;
    &-big{
      width: 12.25em;
        &::before{
          content:'';
          position:absolute;
          bottom:40%;
          right:20%;
          height:1.25em;
          width:1.25em;
          border-radius:50%;
          background-color: inherit;
        }
    }
    &-small{
      width:5em;
      &::before{
          content:'';
          position:absolute;
          bottom:0;
          left:15%;
          height:2.25em;
          width:2.25em;
          border-radius:50%;
          background-color: inherit;
        }
    }
    &-dark{
      &.cloud-big{
        color:#BFD5E0;
        &::before{
          box-shadow:-1.5em -0.2em 0 0.5em currentColor,
            -6em -0.5em 0 0.75em currentColor,
            -8.75em -1.15em 0 1.5em currentColor;        
        }
      }
      background-color:#BFD5E0;
    }
}

//animate
@-webkit-keyframes move-cloud{
	0%{
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
	100%{
    -webkit-transform:translateX(-400px);
    transform:translateX(-400px)
  }
}
@keyframes move-cloud{
	0%{
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
	100%{
    -webkit-transform:translateX(-400px);
    transform:translateX(-400px)
  }
}


/* Small phone screen sizes */
@media only screen and (max-device-width: 1280px) {
   
    .snow{
        height:3%;
    }
}
/* Small phone screen sizes */
@media only screen and (max-device-width: 411px) {	
  .drawing{
    transform: scale(0.23) 
  }
}	
/* Large phone screen sizes */	
@media only screen and (max-device-width: 480px) and (min-device-width: 412px) {	
  .drawing{
    transform: scale(0.30) 
  }
}	
/* Small tablet screen sizes */	
@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {	
  .drawing{
    transform: scale(0.4) 
  }
  .snow{
    height:3%;
  }
}	
/* Large tablet screen sizes */	
@media only screen and (max-device-width: 1280px) and (min-device-width: 769px) {	
  .drawing{
    transform: scale(0.6) 
  }
  .snow{
    height:3%;
}
}
