---
---

@import "../_sass/mixins";

* {
  margin: 0;
}

@font-face {
  font-family: Biko;
  src: url('../fonts/Biko_Regular.otf');
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: Biko, sans-serif;

}

body {
  height: 100%;
  width: 100%;
  color: rgb(34, 41, 44);
  font-family: Roboto, sans-serif;

}

canvas {
  position: absolute;
  background-color: rgb(34, 41, 44);
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: -1;
}

header {
  min-height: 100%;
  color: white;
  > div {
    padding-top: 20vh;
  }
  img {
    width: 240px;
    padding-bottom: 30px;
  }

  .buttons {
    padding-top: 4vh;
    padding-bottom: 10vh;
    .svg-wrapper {
      margin-top: 0;
      position: relative;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 3vh;
      text-transform: uppercase;
      border-radius: 3px;

      a {
        color: white;
        text-decoration: none;

        padding: 5px 10px;
      }

      svg {
        background-color: transparent;
      }
      .shape {
        stroke-width: 6px;
        fill: transparent;
        stroke: white;
        stroke-dasharray: 85 400;
        stroke-dashoffset: -220;
        transition: 1s all ease;
      }

      &.disabled .shape {
        stroke: #777;
      }
      .text {
        margin-top: -40px;
        font-size: 1.5em;
        text-align: center;
      }

      &:hover .shape {
        stroke-dasharray: 50 0;
        stroke-width: 6px;
        stroke-dashoffset: 0;
      }
      &.disabled:hover .shape {
        stroke-width: 6px;
        fill: transparent;
        stroke-dasharray: 85 400;
        stroke-dashoffset: -220;
        transition: 1s all ease;
      }
    }

  }
}

section {
  padding-top: 3vh;
  padding-bottom: 5vh;
  text-align: center;

  p {
    font-size: 1.4em;
  }

  &.section-reverse {
    background-color: rgb(34, 41, 44);
    color: white;

    hr {
      border-color: #373737;
    }
  }
}

#faq {
  div.question > p {
    color: #777;
  }
}

@media (max-width: 768px) {
  header {
    > div {
      padding-top: 10vh;
    }

    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
    }


  }
}

