---
---

@charset "utf-8";
@import "../_sass/mixins";

$footer-text: #666666;
$main-color: #1AA8FF;
$accent-color: #22292c;
//$main-color: #161616;

* {
  margin: 0;
}

@font-face {
  font-family: Biko;
  src: url('../fonts/Biko_Regular.otf');
}

html {
  width: 100%;
  height: 100%;
}

ul, menu, dir {
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: Biko, sans-serif;

}

h1.title {
  font-size: 50px;
  padding-bottom: 2vh;
  small {
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

body {
  height: 100%;
  width: 100%;
  background: $main-color;
  
  font-family: Roboto, sans-serif;
}

hr {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  color: $accent-color;
  @include transition(0.5s ease);

  &:hover {
    color: darken($accent-color, 10%);
  }
}

section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  background-color: white;
  @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0.2));

  p {
    font-size: 16px;
  }

  h2, h3, a {
    color: darken($accent-color, 10%);
  }

  &.section-reverse {
    background-color: transparent;
    color: white;
    @include box-shadow(inset 0px 0px 8px 3px rgba(0, 0, 0, 0.2));
    h2, h3, a {
      color: lighten($accent-color, 10%);
    }
    hr {
      background-color: transparent;
      border-color: rgba(darken($accent-color,20%),.5);
    }
  }

  &.section-accent {
    background-color: $accent-color;
    color: white;
    z-index: 99;
    position: relative;
    @include box-shadow( 0px 0px 2px 2px rgba(0, 0, 0, 0.2));
    h2, h3, a, small {
      color: white;
    }
    hr {
      background-color: transparent;
      border-color: rgba(#eee,.5);
    }
  }
}

header {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 240px;
    padding-bottom: 30px;
  }

  h1, h2, h3, h4, p {
    text-shadow: 0px 0px 4px $accent-color;
  }

}

.buttons {

  &.title {
    padding-top: 10vh;
    padding-bottom: 6vh;
  }
  

  .svg-wrapper {
    margin-top: 0;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 3vh;
    text-transform: uppercase;
    border-radius: 3px;

    a {
      color: $accent-color;
      text-decoration: none;

      padding: 5px 10px;
    }

    svg {
      background-color: transparent;
      @include box-shadow(0px 2px 8px 3px rgba(0, 0, 0, 0.2));

      &:hover {
        @include box-shadow(0px 2px 8px 0px rgba(0, 0, 0, 0.2));
      }

    }
    .shape {
      stroke-width: 8px;
      fill: white;
      stroke: lighten($accent-color, 10%);
      stroke-dasharray: 150 400;
      stroke-dashoffset: -190;
      @include transition(1s all ease);

    }

    .text {
      margin-top: -40px;
      color: $accent-color;
      font-size: 1.5em;
      text-align: center;
    }

    &:hover .shape {
      stroke: $accent-color;
      stroke-dasharray: 50 0;
      stroke-dashoffset: 0;
    }

  }

  &.accent {

    .shape {
      stroke: $main-color;
    }

    &:hover .shape {
      stroke: $main-color;
      stroke-dasharray: 50 0;
      stroke-dashoffset: 0;
    }

  }

  &.reverse {
    a {
      color: white;

    }
    .shape {
      fill: $accent-color;
      stroke: lighten($main-color, 10%);
    }
    &:hover .shape {
      stroke: $main-color;
      stroke-dasharray: 50 0;
      stroke-dashoffset: 0;
    }

  }

}

#about {

  @include box-shadow(inset 0px 0px 0px 0px rgba(0, 0, 0, 0.2));
  
  p {
    line-height: 1.7em;
  }
}

#faq {
  div.question > p {
    padding-bottom: 5vh;
    color: #777;

  }

}

#sponsors {
  li {
    list-style-type: none;
    display: inline-block;
    margin: 30px;
  }



  .powered {
    // background-color: rgba(185, 242, 255, 0.12);
    img {
      max-height: 50vh;
      max-width: 100%;
    }
  }

  .diamond {
    // background-color: rgba(185, 242, 255, 0.12);
    img {
      max-height: 30vh;
      max-width: 100%;
    }
  }


  .gold {
    // background-color: rgba(212, 175, 55, 0.12);
    img {
      max-height: 24vh;
      max-width: 100%;
    }
  }

  .silver {
    // background-color: rgba(192, 192, 192, 0.18);
    img {
      max-height: 18vh;
      max-width: 100%;
    }
  }

  .bronze {
    // background-color: rgba(205, 127, 50, 0.12);
    img {
      max-height: 11vh;
      max-width: 100%;
    }
  }

  .startup {
    // background-color: rgba(205, 127, 50, 0.12);
    img {
      max-height: 13vh;
      max-width: 100%;
    }
  }

  .row {
    padding-bottom: 10px;
  }

  h3 {
    color: $main-color;
  }

}

#partners {
  li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
  }
  img {
    max-height: 20vh;
    max-width: 100%;
  }

  .swag-partners img{
    max-height: 15vh;
    max-width: 100%;
  }
}

#contact {
  li a {
    font-size: 2em;
    color: white;
    padding: 0.4em;
    @include transition(0.5s ease);

    &:hover {
      color: darken(white, 40%);
    }

    &:active, &:focus {
      color: white;
    }
  }
}

footer {
  padding-top: 2em;
  width: 100%;
  background-color: white;
  p {
    color: $footer-text;
    opacity: 0.5;
    font-size: 100%;

  }

  .red {
    color: red;
  }

  .row {
    margin-bottom: 10px;
  }

  a {
    opacity: 0.5;
    color: $footer-text;
    @include transition(0.5s ease);
    font-size: 70%;

    &:hover {
      opacity: 0.9;
      color: $footer-text;
    }

    &:active, &:focus {
      color: $footer-text;
      opacity: 0.5;
    }

  }

  .text-imp {
    color: darken($footer-text, 100%);
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.9;
    font-size: 100%;
    &:active, &:focus {
      color: darken($footer-text, 100%);
      opacity: 0.9;
    }

  }
  .social-icons {
    a {
      text-decoration: none;
      padding: 10px;
      font-size: 100%;
    }

  }

}

@media (max-width: 768px) {
  .text-center-xs {
    text-align: center;
  }

  header {
    > div {
      padding-top: 10vh;
    }
    img {
      width: 160px;
      padding-bottom: 20px;
    }

    h1.title {
      font-size: 30px;
      padding-bottom: 1vh;
    }
    h3 {
      font-size: 20px;
    }

  }
}

