---
---

.window {
    margin-bottom: 1em;
    z-index: 9999;

    body {
        font-family: Arial;
    }

    * {
        box-sizing: border-box;
    }

    .head {
        background: linear-gradient(to bottom,#0058ee 0%,#3593ff 4%,#288eff 6%,#127dff 8%,#036ffc 10%,#0262ee 14%,#0057e5 20%,#0054e3 24%,#0055eb 56%,#005bf5 66%,#026afe 76%,#0062ef 86%,#0052d6 92%,#0040ab 94%,#003092 100%);
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 10px;

        .barcont {
            flex: 1 1 0px;
        }

        .title {
            color: white;
            font-weight: bold;
            flex: 1 1 0px;
        }

        .buttons {
            flex: 1 1 0px;
            display: flex;
            float: right;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .head:after {
        content: "";
        display: table;
        clear: both;
    }

    .dot {
        margin-left: 4px;
        height: 25px;
        width: 25px;
        display: inline-block;

        .max {
            border-radius: 4px;
            border: 1px solid #fff;
            height: 25px;
            background-image: radial-gradient(
            circle at 90% 90%,
            #0054e9 0%,
            #2263d5 55%,
            #4479e4 70%,
            #a3bbec 90%,
            white 100%);
            opacity:100%;

            .maxbox {
                content: '';
                position: relative;
                display: block;
                left: 24%;
                top: 28%;
                box-shadow: inset 0 3px white, inset 0 0 0 1px white;
                height: 12px;
                width: 12px;
            }
        }

        .min {
            border-radius: 4px;
            border: 1px solid #fff;
            height: 25px;
            box-shadow: inset 0 -1px 2px 1px #4646ff;
            background-image: radial-gradient(
            circle at 90% 90%,
            #0054e9 0%,
            #2263d5 55%,
            #4479e4 70%,
            #a3bbec 90%,
            white 100%);
            opacity:100%;
            
            .minbar {
                content: '';
                position: relative;
                left: 24%;
                top: 68%;
                height: 3px;
                width: 8px;
                background-color: white;
            }
        }

        .x {
            border-radius: 4px;
            border: 1px solid #fff;
            height: 25px;
            width: 25px;
            box-shadow: inset 0 -1px 2px 1px #da4600;
            background-image: radial-gradient(
            circle at 90% 90%,
            #cc4600 0%,
            #dc6527 55%,
            #cd7546 70%,
            #ffccb2 90%,
            white 100%,);
            opacity:100%;

            display: flex;            
            align-items: center;
            justify-content: center;
        }
        .x:after {
            content: "\d7";
            color: #FFF;
            font-size: 2em;
        }

    }

    .bar {
        width: 17px;
        height: 3px;
        background-color: #FFF;
        margin: 3px 0;
        display: block;
    }

    .content {
        padding: 15px;
        background: #FFF;
        border: 3px solid rgb(8, 49, 217);
        border-top: 0px;
    }
}