<div class="row">
    <div class="col-lg-12 text-center">
        <div class="section-heading">
            <h2>Rules</h2>
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        (TEMPORARY PLACEHOLDER RULES)
        <p>1. There is no maximum or minimum team size. As a participant, you should make sure to check how many prizes are available per team. There is usually a limited number of prizes for each challenge. So if you form a large team and win a challenge, there might not be enough prizes for everyone on your team.
</p><p>2. Teams should be made up exclusively of students (or recent graduates within one year of having graduated) who are not organizers, volunteers, judges, sponsors, or in any other privileged position at the event.
</p><p>3. All team members should be present at the event. Leaving the venue for some time to hack elsewhere is fine.
</p><p>4. Teams can of course gain advice and support from organizers, volunteers, sponsors, and others.
</p><p>5. All work on a project should be done at the hackathon.
</p><p>6. Teams can use an idea they had before the event.
</p><p>7. Teams can work on ideas that have already been done. Hacks do not have to be “innovative”. If somebody wants to work on a common idea they should be allowed to do so and should be judged on the quality of their hack. These days it’s hard to find something that’s fully original and teams might not know an idea has been done before anyway.
</p><p>8. Teams can work on an idea that they have worked on before (as long as they do not re-use code).
</p><p>9. Teams can use libraries, frameworks, or open-source code in their projects. Working on a project before the event and open-sourcing it for the sole purpose of using the code during the event is against the spirit of the rules and is not allowed.
</p><p>10. Adding new features to existing projects is allowed. Judges will only consider new functionality introduced or new features added during the hackathon in determining the winners.
</p><p>11. Teams must stop hacking once the time is up. However, teams are allowed to debug and make small fixes to their programs after time is up. e.g. If during demoing your hack you find a bug that breaks your application and the fix is only a few lines of code, it's okay to fix that. Making large changes or adding new features is not allowed.
</p><p>12. Projects that violate the Code of Conduct are not allowed.
</p><p>13. Teams can be disqualified from the competition at the organizers' discretion. Reasons might include but are not limited to breaking the Competition Rules, breaking the Code of Conduct, or other unsporting behaviour.
</p>
    </div>
</div>
